h1,
h2,
h3 {
  font-family: 'Yeseva One', cursive;
}
h1 {
  text-align: center;
  padding: 2% 0 1% 2%;
}
p {
  font-family: 'Montserrat', sans-serif;
  padding: 1% 2%;
}
header {
  background-color: #f4f2f3;
}
.offwhite {
  background-color: #f4f2f3;
}
.pink {
  background-color: #e5cac0;
}
.red {
  background-color: #720026;
}
.white {
  background-color: #ffffff;
}
main figure img {
  height: 500px;
  max-height: 550px;
}
