.whiteh2 {
  color: #f4f2f3;
  font-size: 2.1875rem;
  text-align: center;
}
.brownh2 {
  color: #3d2c2e;
  font-size: 2.1875rem;
  text-align: center;
}
/*-----------------------------------
...............HEADER.................
----------------------------------- */
header {
  background-color: #f4f2f3;
}
.navbar {
  background-color: #f4f2f3;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.navbar a {
  width: 60%;
}
.navbar .nav-link {
  transition: all 0.5s ease-in-out;
}
.navbar .nav-link:hover {
  opacity: 1;
  border-bottom: 3px solid #720026;
}
.navbar img {
  width: 100%;
  max-width: 250px;
}
.jumbotron {
  max-width: 1200px;
  margin: 0 auto;
  background: none;
}
/* -----------------------------------
...............BODY...................
----------------------------------- */
.offwhite {
  background-color: #f4f2f3;
}
.offwhite h2 {
  color: #3d2c2e;
  font-size: 2.1875rem;
  text-align: center;
}
.offwhite p {
  color: #3d2c2e;
}
.pink {
  background-color: #e5cac0;
}
.pink h2 {
  color: #3d2c2e;
  font-size: 2.1875rem;
  text-align: center;
}
.pink p {
  color: #3d2c2e;
}
.red {
  background-color: #720026;
}
.red h2 {
  color: #f4f2f3;
  font-size: 2.1875rem;
  text-align: center;
}
.red p {
  color: #f4f2f3;
}
.white {
  background-color: #f4f2f3;
}
.brown {
  background-color: #6b4b4c;
}
.brown h2 {
  color: #f4f2f3;
  font-size: 2.1875rem;
  text-align: center;
}
.brown p {
  color: #f4f2f3;
}
.button {
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  color: #f4f2f3;
}
figure img {
  object-position: center;
  /* Center the image within the element */
  width: 100%;
  max-width: 300px;
}
/* -----------------------------------
.............TYPOGRAPHY...............
----------------------------------- */
h1,
h2,
h3 {
  font-family: 'Yeseva One', cursive;
}
h1 {
  text-align: center;
}
h1.otherpages {
  text-align: center;
  color: #720026;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}
p {
  font-family: 'Montserrat', sans-serif;
  max-width: 700px;
}
.intro p {
  line-height: 190%;
}
/* -----------------------------------
...............FOOTER.................
----------------------------------- */
footer {
  padding: 2%;
}
footer figure img {
  padding: 5%;
}
/* -----------------------------------
................MISC..................
----------------------------------- */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #720026;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b4b4c;
}
/* -----------------------------------
...........MEDIA QUERIES..............
----------------------------------- */
@media (min-width: 768px) {
  .welcome {
    margin-bottom: 8%;
    padding: 5rem 0 15rem 0;
  }
  .gallery {
    max-height: 500px;
  }
  .gallery article {
    text-align: center;
    position: relative;
    top: -20rem;
    margin-bottom: -10rem;
  }
}
@media (min-width: 992px) {
  .jumbotron {
    padding: 0;
  }
  .jumbotron img {
    position: relative;
    top: 5rem;
  }
}
