@import "variables";

/*****this is controlling hamburger menu *****/

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 60px 0px 15px;
  color: #2A6C80;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 60px 0px 15px;
  color:#2A6C80;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}


/*hamburger menu ends */

.desktopnav, .desktoplogo {
  display: none;
}

h1, h2, h3 {
  font-family: @font-headers;
}

h1 {
  text-align: center;
  padding: 2% 0 1% 2%;
}

h1.otherpages {
  text-align: center;
  color: @color-red;
  font-family: @font-body;
  letter-spacing: 3px;
}

p {
  font-family: @font-body;
  padding: 1% 2%;
}
section {
  padding-bottom: 2%;
}

article {
  p {
    text-align: center;
    color: @color-white;
  }
    a:link {
      font-family: @font-body;
      padding: 8px;
      border: 1px solid #ffffff !important; /*THIS ISN'T WORKING */
      border-radius: 5px;
      text-align: center;
    }
    .border {
      border: 10px solid red !important; /* THIS ISN'T WORKING */ 
    }
}

header {
  background-color: @color-white;
}

.offwhite {
  background-color: @color-white;
  h2 {
    .brownh2();
  }
  p {
    color: @color-darkbrown;
  }
}

.pink {
  background-color: @color-pink;
  h2 {
    .brownh2();
  }
  p {
    color: @color-darkbrown;
  }
}

.red {
  background-color: @color-red;
  h2 {
    .whiteh2 ();
  }
}

.white {
  background-color: @true-white;
}

.brown {
  background-color: @color-brown;
  h2 {
    .whiteh2 ();
  }
}

 .maxheightpics figure img{
  height: 500px;
  max-height: 550px;
}

.centerpics figure img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
}


footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 2%;
  figure img {
    padding: 5%;
  }
}

@media (min-width: 768px) {
    .desktopnav {
    display: block;
  }

  .desktoplogo {
    display: block;
    margin: auto;
  }

  .menu, .mobilelogo, .hamburger, .cross {
    display: none;
  }

  article figure img {
    display: block;
    margin: auto;
  }
}

@media (min-width: 992px) {

}
