@import "variables";

h1, h2, h3 {
  font-family: @font-headers;
}

h1 {
  text-align: center;
  padding: 2% 0 1% 2%;
}

p {
  font-family: @font-body;
  padding: 1% 2%;
}

header {
  background-color: @color-white;
}

.offwhite {
  background-color: @color-white;
}

.pink {
  background-color: @color-pink;
}

.red {
  background-color: @color-red;
}

.white {
  background-color: @true-white;
}

 main figure img{
  height: 500px;
  max-height: 550px;
}
